# Auto-activate venvtext2sql when entering this directory (requires direnv).
# Install: sudo apt install direnv  &&  echo 'eval "$(direnv hook bash)"' >> ~/.bashrc
export UV_PROJECT_ENVIRONMENT="venvtext2sql"

if [[ -f venvtext2sql/bin/activate ]]; then
  source venvtext2sql/bin/activate
fi
